{% extends "base.html" %}
{% load static %}
{% block title %} 首頁{% endblock %}
{% block content %} 
<style>
    
    .wrapper {
        width: 1170px;
        margin: 0 auto;
    }
    header {
        height: 100px;
        background: #262626;
        width: 100%;
        z-index: 10;
        position: fixed;
    }
    .logo {
        width: 30%;
        float: left;
        line-height: 100px;
    }
    .logo a {
        text-decoration: none;
        font-size: 30px;
        font-family: poppins;
        color: #fff;
        letter-spacing: 5px;
    }
    nav {
        float: right;
        line-height: 100px;
    }
    nav a {
        text-decoration: none;
        font-family: poppins;
        letter-spacing: 4px;
        font-size: 20px;
        margin: 0 10px;
        color: #fff;
    }
    .banner-area {
        width: 100%;
        height: 500px;
        position: fixed;
        top: 0px;
        {% comment %} background-image: url(media1/ar0.png); {% endcomment %}
        background-color:black;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    .banner-area h2 {
        padding-top: 8%;
        font-size: 70px;
        font-family: poppins;
        text-transform: uppercase;
        color: #fff;
    }
    .content-area {
        width: 100%;
        position: relative;
        top: 450px;
        background: #ebebeb;
        height: 1500px;
    }
    .content-area h2 {
        font-family: poppins;
        letter-spacing: 4px;
        padding-top: 30px;
        font-size: 40px;
        margin: 0;
    }
    .content-area p {
        padding: 2% 0px;
        font-family: poppins;
        line-height: 30px;
    }
    h3{
        color:black;
        font-weight:500;
    }
</style> 

<body class="landing is-preload">
    

    <div id="page-wrapper">

        <!-- Header -->
        {% include "header_mod2.html" %}

        <div id="page-wrapper">

            <!-- Header -->
            
            <div class="box-area" >
                
                <div class="banner-area" >
                    <h2 style="text-align:center;font-family: 'Noto Sans TC'">文章列表</h2>
                </div>
                
                <div class="content-area">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-12">
                                <section class="ar_list">
                                    <br>
                                    {% for article in articles %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title" style="font-family: 'Noto Sans TC'">{{ article.Chi_title }}</h3>
                                            <h3 class="card-title" style="font-family: 'Noto Sans TC'">{{ article.Eng_title }}</h3>
                                            <p class="card-text" style='text-overflow:ellipsis;overflow:hidden;white-space:nowrap'>
                                                {{ article.Content }}
                                            </p>
                                            <a href="/ai_article_read/{{ article.pk }}" class="btn btn-primary">點我觀看</a>
                                        </div>
                                    </div>
                                    <br>
                                    {% endfor %}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "footer.html"%}

        <!-- Footer -->
        {% include "footer.html"%}

    </div>
    {% comment %} <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script> {% endcomment %}
    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}