<footer id="footer" style="background-color:black">
    <ul class="icons">
        {% comment %} <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li> {% endcomment %}
    </ul>
    <ul class="copyright" style="color:white">
        <li>&copy; 由國立高雄科技大學應用英語系所設計，版權所有 翻印必究</li><li>Design: 國立高雄科技大學</li>
    </ul>
</footer>