<header id="header" class="alt">
    <h1><a href="/">AI Project</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="#" class="icon solid fa-angle-down">menu</a>
                <ul>
                    <li><a href="#">DH課程</a></li>
                    <li><a href="#">AI增能</a></li>
                    <li><a href="#">研究計畫</a></li>
                    <li><a href="#">團隊成員</a></li>
                    <li><a href="#">討論專區</a></li>
                    {% comment %} <li><a href="elements.html"></a></li> {% endcomment %}
                    <li>
                        <a href="#">DH工具</a>
                        <ul>
                            <li><a href="#">工具介紹</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% comment %} <li><a href="#" class="button">Sign Up</a></li> {% endcomment %}
        </ul>
    </nav>
</header>