{% extends "base.html" %}
{% load static %}
{% block title %} 首頁{% endblock %}
{% block content %} 

<style>{{style_html}}</style>
<body class="landing is-preload">
    

    <div id="page-wrapper">

        <!-- Header -->
        {% include "header.html" %}
        
        {{body_html}}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
{% endblock %}