{% extends "articles/article_base.html" %}
{% load static %}
{% block title %}文章觀看{% endblock %}
{% block chi_title %}數位註解作為線上教學與學習策略{% endblock %}
{% block eng_title %}Taking Annotation Digital: A Strategy for Online Teaching & Learning{% endblock %}
{% block edit %}Kristen Hawley Turner and Lauren Zucker{% endblock %}
{% block url %}https://k-12talk.com/2020/04/09/taking-annotation-digital-a-strategy-for-online-teaching-learning/ {% endblock %}
{% block content %}
&nbsp;&nbsp;現在因為疫情關係，遠程教學已經快速地融入了全球的教育系統中，所以針對這新的教育方式老師們也開始考慮新的教學可能性，像是可以利用數位註解的方式讓學生們直接在電腦螢幕的文本上添加他們的想法，以便老師們可以跟學生們進行文本內容的交流。
<br>
&nbsp;&nbsp;最基本的數位註解工具有複製、貼上、粗體、下劃線、更改文本顏色、標重點和進行評論。這些技巧在任何的文字處理平台像是Google Docs、Microsoft Word 都可以做使用。所以如果是剛開始使用數位註解在教學上的話可以先從基本技能標重點及評論開始做起，因為這些技巧大多數學生都有經驗。當然如果對於數位註解也有一定的熟練度之後，以現在的科技技術，可以讓讀者們去使用一些特定的工具在數位文本上直接在螢幕上以繪圖或手寫的方式留下想法，更甚者能夠使用麥克風或網路攝像頭，在文本旁邊留下語音或視頻的評論。還有像是使用Hypothesis或NowComment這樣的工具還可以讓學生在網絡上的新聞網站、PDF和電子書籍上做筆記。這些社交註解工具可以讓讀者之間進行對話，模仿課堂討論，並且更深入地參與教師所指定的數位文本。除了數位文本以外也可以透過掃描器、手機應用程式、拍照等方式把紙本文件掃描起來將紙本書籍數位化，讓大家可以一起共享並且進行探討。
<br>
&nbsp;&nbsp;其中數位註解裡又分為個人活動及社會活動兩種形式，在個人形式上是比較屬於私人的表達，只有自己的觀點，不太需要去在意其他的評論的壓力。但這種形式就會讓評論者(讀者)沒辦法去接觸更多元的觀點及想法。而在社會形式上，評論者(讀者)能夠直接跟大眾分享想法。如果是在課堂上使用的話還可以讓同儕互相去互動激發不一樣的觀點而從中學習，但因為可以看到大家的觀點想法有可能會出現依賴性的問題，學生們會無法專注在自己思考上面而會把他人的想法給帶入進去進而分心或是沒有己見。所以想要使用數位註解來互相交流的話，可以先清楚知道要想要達到的目標而去選擇更適合的方式去進行教學研究。以下提供幾種註解工具可以提供師生於課程中使用﹕Diigo、EdPuzzle、Hypothesis、NowComment、Skitch和Vialogues，其中EdPuzzle和NowComment是可以利用影片註解以多媒體進行討論，Skitch是與ios系統最為相容。
{% endblock %}