{% extends "articles/article_base.html" %}
{% load static %}
{% block title %}文章觀看{% endblock %}
{% block chi_title %}K-12教室中數位人文的教學{% endblock %}
{% block eng_title %}Digital Humanities in the K-12 Classroom{% endblock %}
{% block edit %}Susannah Holz{% endblock %}
{% block url %}https://blog.neolms.com/digital-humanities-in-the-k-12-classroom/ {% endblock %}
{% block content %}
&nbsp;&nbsp;這篇文章總共提供三種工具適合老師在K-12課堂上去操作使用。第一種工具是Storymap，這是一個由西北大學Knight Labs所開發的工具，此工具可以讓用戶在不同的地理位置提供該地區所發生的事件。其中可以包含虛構的故事、歷史故事或是個人故事。Storymap會對這些故事提供視覺輔助，是利用科技技術把資料視覺化，然後去增進學習者們對於了解和分享故事的能力。除了分享故事的功能外，學習者還可以透過這個工具一起建構一個故事地圖。Storymap可以幫助學習者更好的去「組織」故事的情節、人物和地點。此外Storymap也可以協助大家去理解不同領域的資訊，像是在數學、社會研究和科學上。其實在Google上也有類似的工具叫做My Maps，學生也是可以透過這個工具一起去創建歷史地圖或是現代地圖，在使用這個工具製作時候可以在地圖裡面新增影像、連結、影片、表格和介紹敘述的小圖層，但是因為這個工具所使用的地圖是真實的，沒辦法適用在虛構的故事情節裡，所以My Maps的靈活性一定較不如Storymap。
<br>
&nbsp;&nbsp;第二種工具是Ngram，從Ngram點進去我們可以先看到的是一個呈現折線的圖形，從呈現出來的單詞跟片語的使用頻率可以推算出很多關於現在社會的狀況。目前使用Google的Ngram Viewer可以搜尋到2500萬本的圖書，未來最多可以達到1.3億本。這其中包含了1500年到2000年間所出版的書目，有英文、中文(簡體)、法文、德文、希伯來文、義大利文、俄文和西班牙文。 如果教學者要使用Ngram的話可以從以下三個層面作為研究方向：
<br>
<br>
<ol>
    <li>可從「歷史」層面進行討論，例如﹕可以從歷史事件或是歷史上所使用的武器，像是 「核武器」、「炸彈」等內容去進行討論。</li>
    <li>可根據特定時期或時代不同所使用的詞語去做探討。</li>
    <li>可從「短句」層面進行討論，可能在相同議題裡人們所使用的句子會在不同的時間段有所差異，就可以從這其中的差異去進行比較。</li>
</ol>

{% endblock %}